
  <div id="headimage3"></div>

  <div class="container">
    <div class="bodytext">
      <h1 id="bodyh1"> How can Goldfarb Educational Consulting help you? </h1>
      <hr>
      <p >
        With so much changing in the field of education it’s difficult to stay on top of some of the critical information you need to be the best educator you can.  We’ve researched, sourced, vetted, and authored information about some of these critical issues, and below you’ll find a searchable store of information to help you stay current.  Once you’ve filtered for the information you want, you can merely peruse or you can opt to print out in handy sheets.  You can also use the form below to request that additional information be added to the InfoBank.
      </p>

      <!-- <div class="container"> -->
    <!-- contents -->
    <div class="panel-group" id="accordion">
      <% data.forEach(function(data) { %>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" href="#collapse<%= data.id %>">
            <%= data.title %></a>
          </h4>
        </div>

        <div id="collapse<%= data.id%>" class="panel-collapse collapsein">
          <div class="panel-body">
          
          <!-- subtopics start -->
            <% data.subtopics.forEach(function(subtopic) { %>
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" href="#collapse<%= subtopic.id %>-subtopic">
                  <%= subtopic.subtopic %></a>
                </h4>
              </div>
              <div id="collapse<%= subtopic.id%>-subtopic" class="panel-collapse collapse in">
                <div class="panel-body">
                <%- subtopic.response %>

                <br>
                <br>
                Source: <a href="<%= subtopic.url %>" target="_/"><%= subtopic.source %></a>
                </div>
              </div>
            </div>
            <% }) %>
          <!-- subtopics end -->

              </div>
            </div>
          </div>
          <% }) %>
        <!-- end contents -->
      </div>
<!-- </div> -->
    </div>
   </div>   


  <div class="bodytext2">
       <p>
       Looking for some you can’t find in the information bank? 
       tell us what else you’re looking for, and add your contact informtation if you’d like us to contact you to clarify the request.
       </p>
  </div>

    <form>
    <input type="button" id="print-button" value="Print this Page" onClick="window.print()">
    </form>

  <div class="contactform">
    <form action="MAILTO:jgoldfarb@goldfarbedconsult.com" method="post" enctype="text/plain">
    Name<br>
    <input id="inputfield" type="text" name="name" value=""><br>
    Your E-mail<br>
    <input id="inputfield" type="text" name="mail" value=""><br>
    Message<br>
    <input id="inputfield2" type="text" name="comment" value=""><br><br>
    <button class="btn btn-primary" type="submit" value="Send">Send</button>
    </form>
  </div>

<footer>
  <nav class="navbar navbar-default navbar-fixed-bottom" id="footer">
    <div class="container">
      <a href="https://www.linkedin.com/m/profile/ACoAAACr6vABoLLCwRzrsx7Jk0wqT2pZGCzdyQ4/">
        <div id="linkedin"></div>
      </a>
      <p>(e) info@goldfarbedconsult.com</p>
    </div>
  </nav>  
</footer>